<!DOCTYPE html>
<html>
<body>
<h1>Artiste :<%= artiste %></h1>
<p>Albums :<p>
<ul>
    <% let i;
    for (i = 0; i < albums.length; i++) { %>
        <li><%= albums[i] %></li>
    <% } %>
</ul>
</body>
</html>