.navbarProd{
    list-style-type: none;
    background-color: white;
    display:flex;
    /*justify-content: center;*/

}

/* Si d'autres <li><a ...> dans la page, rajouter id dans chaque li du navbar_produit pour differencier*/
li a{
    text-align: center;
    color: black;
    display: block;
    padding: 18px 20px;
}

li a:hover {
    background-color: #DDFCA5;
    text-decoration: none;
    color: black;
}

#vege+label {
    text-align: center;
    color: black;
    display: block;
    padding: 18px 20px;
    float: right;
}
#vege+label:hover{
    background-color: #DDFCA5;
    text-decoration: none;
    color: black;
}