html, body {
  height: 100%;
}

#page {
    /* position: fixed;
    min-height: 100%; */
    position: relative;
    min-height: 100%;
    /* border: solid orange 2px; */
}

#baniere {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    border-bottom: ridge 5px gold;
    z-index: 1;
    background-color: gold
}

.navbarProd{
    position: fixed;
  /*  width: 75%; */
    border-bottom: ridge 5px gold;
    z-index: 1;
    list-style-type: none;
    background-color: white;
    display:flex;
    /*justify-content: center;*/

}

/* Si d'autres <li><a ...> dans la page, rajouter id dans chaque li du navbar_produit pour differencier*/
li a{
    text-align: center;
    color: black;
    display: block;
    padding: 18px 20px;
}

li a:hover {
    background-color: #DDFCA5;
    text-decoration: none;
    color: black;
}

h2 {
  margin-top: 10%;
  font-size: 25px;
  font-style: bold;
  text-align: center;
}

#hors_nav {
  /* position: fixed;
  min-height: 92%; */
  /* position: absolute; */
  /* min-height: 89%; */
  margin-top: 75px;
  /* border: solid blue 3px; */
}

#div_produits {
    position: relative;
    margin-top: 80px;
  /* border: solid red 2px; */
  /* bottom: 0; */
  /* position: relative; */
}

#div_panier {
  position: fixed;
  right: 0;
  bottom: 0;
  border-left: groove 5px gold;
  background-color: gold;
  min-height: 90%;
  /* border: solid green 2px; */
}

#div_panier p {
  font-size: 15px;
}

#lien_menu {
  text-decoration: underline;
  font-size: 15px;
  color: black;
}

#div_bouton_commander {
  position: absolute;
  padding: 5% 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gold;
}

#bouton_commander {
  border-radius: 10px;
  border: groove 4px limegreen;
  background-color: limegreen;
  padding: 7% 0;
  margin-left: 5%;
  width: 90%;
}

/* #div_small_commander {
  width: 100%;
  background-color: gold;
  border: solid red 5px;
} */

#bouton_small_commander {
  border: groove 4px limegreen;
  background-color: limegreen;
  padding: 2% 0;
  width: 100%;
}

