
.div_ingredients_selected {
    border-bottom: solid 2px rgb(225, 225, 225);
    margin-bottom: 15px;
}

.titre_rubrique_ingredient {
    background-color: gold;
    padding: 12px;
}

.bouton_ingredients {
    width: 75%;
    margin: 5px;
}

.btn-outline-light {
    color: black;
    border: solid rgb(227, 227, 227) 1px;
}

.prix_ingredients {
    position: relative;
    right: 0;
}
